*.class

# Package Files #
*.jar
*.war
*.ear
/core/vesna.core.server/nbproject/private/
/samples/vesna.samples.crm.server/nbproject/private/
/core/vesna.core.server/dist/
/core/vesna.core.server/build/
/samples/vesna.samples.crm.server/dist/
/samples/vesna.samples.crm.server/build/
/core/org.vesna.core.server/nbproject/private/
/core/org.vesna.core.server/dist/
/core/org.vesna.core.server/build/
/samples/org.vesna.samples.crm.server/nbproject/private/
/samples/org.vesna.samples.crm.server/build/
/samples/org.vesna.samples.crm.server/dist/
/apps/org.vesna.apps.server/nbproject/private/
/core/org.vesna.core.javafx/nbproject/private/
/core/org.vesna.core.javafx/build/
/core/org.vesna.core.javafx/dist/
/apps/org.vesna.apps.server/build/
/apps/org.vesna.apps.server/dist/

*.log
*.mdmp